@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  #icon{
    display: none;
  }
  
  @media screen and (max-width: 640px) {
   
    #icon{
      display: inline;
      position: absolute;
      left: 10px;
      top: 40px;
      cursor: pointer;
    }
    .list{
      /* height: 100%; */
      width: 100%;
      transition: all 1s;
      gap: 30px;
      overflow-x: hidden;
      background-color: antiquewhite;
      transform: translateX(-750px);
    }
    #put:checked ~ .list{
      transform: translateX(0);
    }
    .container{
      /* border: 1px solid blue; */
      flex-direction: column;
      height: fit-content;
      margin-bottom: 100px;
    }
    .aside{
      width: 100%;
      height: 200px;
    }
    .listed{
      width: 60%;
      transition: all 1s;
      gap: 30px;
      overflow-x: hidden;
    }
    .preview{
      width: 100%;
      height: fit-content;
      /* border: 1px solid purple; */
    }
    .components{
      height: fit-content;
      width: inherit;
      display: grid;
      padding: 8px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .long{
      height: 260px;
      width: 80%;
      /* border: 1px solid purple; */
    }
    .img{
      height: inherit;
    }
    .md{
      /* border: 1px solid blue; */
      margin-top: 480px;
    }
    .containing{
      width: 100%;
      /* border: 1px solid blue; */
      flex-direction: column;
      height: fit-content;
      margin-bottom: 20px;
    }
    .main{
      height: 380px;
      width: 100%;
    }
    .figure{
      height: fit-content;
      width: 100%;
      flex-direction: column;
    }
    .eat{
      height: 450px;
      flex-direction: column;
      margin-bottom: 150px;
    }
    .post{
      height: 450px;
      width: 100%;
    }
    /*  */
    .chop{
      height: 280px;
      width: 100%;
    }
    .iu{
      height: fit-content;
      margin-bottom: 20px;
      margin-top: 300px;
    }
    .h2{
      transform: translateX(0);
    }
    .bottle{
      flex-direction: column;
      margin-bottom: 350px;
    }
    .card{
      height: 180px;
    }
    .card img{
      height: 100%;
      width: 100%;
    }
    .svg{
      height: fit-content;
      flex-direction: column;
      gap: 20px;
    }
    .icon{
      height: 50px;
    }
    .icon img{
      object-fit: contain;
    }
    .fe{
      height: fit-content;
      margin-bottom: 10px;
      
    }
    .acc{
      height: fit-content;
      width: 100%;
      flex-direction: column;
    }
    .postCard{
      height: 350px;
    }
    .buy{
      height: 150vh;
    }
    .nam{
      height: 150px;
      flex-direction: column;
    }
    .side{
      width: 90%;
      text-align: center;
    }
    .foot{
      flex-direction: column;
      height: fit-content;
    }
    .ul{
      height: 120px;
    }
    .fig{
      flex-direction: column;
    }

    .parent{
      height: fit-content;
    }
    .tall{
      height: fit-content;
      flex-direction: column;
    }
    .picture{
      height: 0px;
      /* border: 1px solid purple; */
    }
    .small{
      height: 100px;
    }
    .imgg{
      height: 250px;
      /* border: 1px solid red; */
    }
    .picture, .details{
      height: fit-content;
      width: 100%;
      margin-bottom: 50px;
    }
    .line{
      width: 100%;
    }
    .tie{
      margin-top: 320px;
    }
    .head{
      flex-direction: column;
      width: 100%;
      border-bottom: none;
    }
    .pull{
      height: fit-content;
      width: 100%;
      flex-direction: column;
    }
    .pullPic, .description, .writing{
      height: 200px;
      width: inherit;
    }
    .pullPic>p, .description>p, .writing>p{
      text-align: 14px;
    }
    .pullPic img{
      object-fit: cover;
      object-position: top;
    }
    .all{
      height: fit-content;
      justify-content: space-between;
      /* border: 1px solid red; */
    }
    .plane{
      height: fit-content;
      width: 100%;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 10px;
      gap: 15px;
      /* border: 1px solid green; */
    }
    .pet{
      width: 80%;
      display: none;
    }
    .sv{
      margin-top: 60px;
      height: fit-content;
      flex-wrap: wrap;
      width: 100%;
      /* border: 1px solid blue; */
    }
    .icom{
      height: 80px;
      /* border: 1px solid red; */
    }
  }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
